@font-face {
  font-family: 'Malgun';
  src: url('../../../fonts/malgun.ttf') format('truetype');
}

@font-face {
  font-family: 'Malgun Bold';
  src: url('../../../fonts/malgunbd.ttf') format('truetype');
}
